<mat-accordion multi="true" *ngIf="users.length > 0">
    <mat-expansion-panel *ngFor="let user of users">
        <mat-expansion-panel-header>
            {{user.email}}
        </mat-expansion-panel-header>
        <p>Ruolo: <b>{{user.role}}</b></p>
        <p>Partite vinte: <b>{{user.score}}</b></p>
        <mat-action-row>
            <button mat-button color="primary" (click)="onSwitch()" ><i class="material-icons">swap_horizontal_circle</i> SwitchRole</button>
            <button mat-button color="warn" (click)="onDelete()" ><i class="material-icons">delete</i> Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>