<!-- <mat-accordion multi="true" *ngIf="messages.length > 0">
    <p class="mat-title">Ecco i tuoi messaggi</p>
    <mat-expansion-panel *ngFor="let msg of messages">
        <mat-expansion-panel-header>
            {{msg.autore}}
        </mat-expansion-panel-header>
        <p>{{msg.contenuto}}</p>
        <p><b>dest.</b> {{msg.destinatario}}</p>
        <p>{{msg.id}}</p>
        <p class="mat-caption">{{msg.timeStamp}}</p>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="messages.length <=0">No messages added yet!</p>
<p class="info-text mat-body-1" *ngIf="messages[0]?.timeStamp<messages[1]?.timeStamp">{{messages[0].autore}}</p> -->

<mat-accordion multi="true" *ngIf="finalMsgs.length > 0">
    <p class="mat-title">Ecco le tue conversazioni</p>
    <mat-expansion-panel *ngFor="let array of finalMsgs" [expanded] = "true">
        <mat-expansion-panel-header>
            {{array[0].autore === this.loggedEmail? array[0].destinatario : array[0].autore}}
            <!-- <p [matBadge]="badgeCount" matBadgeOverlap="false" *ngIf="badgeCount"></p> -->
        </mat-expansion-panel-header>
        <p class="mat-body-1" *ngFor="let text of array" [ngStyle]="{'text-align': text.autore === this.loggedEmail ? 'right' : 'left'}">
            <small>Mitt:</small> {{text.autore}}
            <br><small>Testo:</small> {{text.contenuto}}
            <br><small>{{text.timeStamp}}</small>
        </p>
    </mat-expansion-panel>
</mat-accordion>